/* === COMMON === */
/*
 * img element adjust to emulate background-size: cover
 * just remember to assign a height to that img
 */
.fit {
    object-fit: cover;
    width: 100%;

    &--hide {
        opacity: 0 !important;
    }
}

.compat-object-fit {
    background-size: cover;
    background-position: center center;
    position: absolute;
    z-index: 0;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.fit-absolute {
    position: absolute;
    z-index: 0;
    height: 100%;
    top: 0;
}

main {
    position: relative;
    z-index: 1;
}

@media all and (max-width: 767px) {
    .center-mobile {
        text-align: center;

        & > div {
            display: inline-block !important;
            float: none !important;
        }
    }
}

.vertical-list {
    @include vertical-list();
}

.horizontal-list {
    @include horizontal-list();
}

.uppercase {
    text-transform: uppercase;
}

.birdcage {
    position: relative;
}

.birdcage:after {
    content: "";
    display: table;
    clear: both;
}

.unavailable {
    opacity: .25;
    pointer-events: none;
}

a  {
    transition: all .15s ease;
}

a:hover,
a:active,
a:focus {
    text-decoration: none !important;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

.zoom-out {
    cursor: zoom-out;
}

.pull-content-bottom {
    position: relative;
    display: block;

    .height100p > * {
        position: absolute;
        bottom: 0;
    }
}

.height100p {
    height: 100%;
}

code {
    padding: 10px 10px !important;
    font-size: 100% !important;
    display: block !important;
    border-radius: 0 !important;
    margin-bottom: 40px;
}

code:last-child {
    margin-bottom: 0;
}

.truncate-ellipsis {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;

    & > * {
        display: table-cell;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.translucent50 {
    opacity: .5;
}

img.full-responsive {
    width: 100%;
    height: auto;
    display: block;
}

.right-block {
    display: block;
    margin-right: 0;
    margin-left: auto;
}

.clear {
    clear: both;
}

.p-t-50 {
    padding-top: 50px;
}
/* === END COMMON === */

/* === VIDEO === */
.video-responsive {
    height: auto !important;
    width: auto !important;

    video {
        max-width: 100%;
    }
}

.video-background {
    overflow: hidden;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        overflow: hidden;
        max-width: 100%;
    }
}

.vimeo-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;

    iframe {
        width: 100vw;
        height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
        min-height: 100vh;
        min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* === END VIDEO === */

/* === REMOVE BOOTSTRAP GUTTER === */
.row.no-pad {
    margin-right: 0;
    margin-left: 0;
}

.row.no-pad > [class*='col-'],
[class*='col-'].no-pad {
    padding-right: 0;
    padding-left: 0;
}

.grid-pad-10 {
    [class*=col] {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .row.no-pad-mobile {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .row.no-pad-mobile > [class*='col-'],
    [class*='col-'].no-pad-mobile {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .mobile-extra-pad {
        padding-left: $gutter-s;
        padding-right: $gutter-s;
    }
}
/* === END REMOVE BOOTSTRAP GUTTER === */

/* === FLUID COVERS === */
.fluid-covers {
    .half {
        height: 32.36vw;
    }

    .full {
        height: 64.72vw;
    }
}

.fluid-covers.ken-burns {
    .half,
    .full {
        overflow: hidden;

        img {
            transform: scale(1);
            transition: all 1s ease-out;
        }
    }

    .half:hover,
    .full:hover {
        img {
            transform: scale(1.15);
            transition: all 3s ease-in;
        }
    }
}

@media (max-width: 767px) {
    .fluid-covers {
        .half {
            height: 64.72vw;
        }
    }
}
/* === END FLUID COVERS === */

/* === Z-INDEXES === */
.z1 {
    position: relative;
    z-index: 1;
}

.z2 {
    position: relative;
    z-index: 2;
}

.z3 {
    position: relative;
    z-index: 3;
}

.z4 {
    position: relative;
    z-index: 4;
}

.z5 {
    position: relative;
    z-index: 5;
}
/* === END Z-INDEXES === */

/* === UTILITY MARGINS === */
// Margin 5XL
.m-t-5xl {
    margin-top: $gutter-5xl !important;
}

.m-b-5xl {
    margin-bottom: $gutter-5xl !important;
}

.m-tb-5xl {
    margin-top: $gutter-5xl !important;
    margin-bottom: $gutter-5xl !important;
}

.m-l-5xl {
    margin-left: $gutter-5xl !important;
}

.m-r-5xl {
    margin-right: $gutter-5xl !important;
}

.m-lr-5xl {
    margin-left: $gutter-5xl !important;
    margin-right: $gutter-5xl !important;
}

// Margin 4XL
.m-t-4xl {
    margin-top: $gutter-4xl !important;
}

.m-b-4xl {
    margin-bottom: $gutter-4xl !important;
}

.m-tb-4xl {
    margin-top: $gutter-4xl !important;
    margin-bottom: $gutter-4xl !important;
}

.m-l-4xl {
    margin-left: $gutter-4xl !important;
}

.m-r-4xl {
    margin-right: $gutter-4xl !important;
}

.m-lr-4xl {
    margin-left: $gutter-4xl !important;
    margin-right: $gutter-4xl !important;
}

// Margin 3XL
.m-t-3xl {
    margin-top: $gutter-3xl !important;
}

.m-b-3xl {
    margin-bottom: $gutter-3xl !important;
}

.m-tb-3xl {
    margin-top: $gutter-3xl !important;
    margin-bottom: $gutter-3xl !important;
}

.m-l-3xl {
    margin-left: $gutter-3xl !important;
}

.m-r-3xl {
    margin-right: $gutter-3xl !important;
}

.m-lr-3xl {
    margin-left: $gutter-3xl !important;
    margin-right: $gutter-3xl !important;
}

// Margin 2XL
.m-t-2xl {
    margin-top: $gutter-2xl !important;
}

.m-b-2xl {
    margin-bottom: $gutter-2xl !important;
}

.m-tb-2xl {
    margin-top: $gutter-2xl !important;
    margin-bottom: $gutter-2xl !important;
}

.m-l-2xl {
    margin-left: $gutter-2xl !important;
}

.m-r-2xl {
    margin-right: $gutter-2xl !important;
}

.m-lr-2xl {
    margin-left: $gutter-2xl !important;
    margin-right: $gutter-2xl !important;
}

// Margin XL
.m-t-xl {
    margin-top: $gutter-xl !important;
}

.m-b-xl {
    margin-bottom: $gutter-xl !important;
}

.m-tb-xl {
    margin-top: $gutter-xl !important;
    margin-bottom: $gutter-xl !important;
}

.m-l-xl {
    margin-left: $gutter-xl !important;
}

.m-r-xl {
    margin-right: $gutter-xl !important;
}

.m-lr-xl {
    margin-left: $gutter-xl !important;
    margin-right: $gutter-xl !important;
}

// Margin L
.m-t-l {
    margin-top: $gutter-l !important;
}

.m-b-l {
    margin-bottom: $gutter-l !important;
}

.m-tb-l {
    margin-top: $gutter-l !important;
    margin-bottom: $gutter-l !important;
}

.m-l-l {
    margin-left: $gutter-l !important;
}

.m-r-l {
    margin-right: $gutter-l !important;
}

.m-lr-l {
    margin-left: $gutter-l !important;
    margin-right: $gutter-l !important;
}

// Margin Normal
.m-t {
    margin-top: $gutter !important;
}

.m-b {
    margin-bottom: $gutter !important;
}

.m-tb {
    margin-top: $gutter !important;
    margin-bottom: $gutter !important;
}

.m-l {
    margin-left: $gutter !important;
}

.m-r {
    margin-right: $gutter !important;
}

.m-lr {
    margin-left: $gutter !important;
    margin-right: $gutter !important;
}

// Margin S
.m-t-s {
    margin-top: $gutter-s !important;
}

.m-b-s {
    margin-bottom: $gutter-s !important;
}

.m-tb-s {
    margin-top: $gutter-s !important;
    margin-bottom: $gutter-s !important;
}

.m-l-s {
    margin-left: $gutter-s !important;
}

.m-r-s {
    margin-right: $gutter-s !important;
}

.m-lr-s {
    margin-left: $gutter-s !important;
    margin-right: $gutter-s !important;
}

// Margin XS
.m-t-xs {
    margin-top: $gutter-xs !important;
}

.m-b-xs {
    margin-bottom: $gutter-xs !important;
}

.m-tb-xs {
    margin-top: $gutter-xs !important;
    margin-bottom: $gutter-xs !important;
}

.m-l-xs {
    margin-left: $gutter-xs !important;
}

.m-r-xs {
    margin-right: $gutter-xs !important;
}

.m-lr-xs {
    margin-left: $gutter-xs !important;
    margin-right: $gutter-xs !important;
}

// Margin 2XS
.m-t-2xs {
    margin-top: $gutter-2xs !important;
}

.m-b-2xs {
    margin-bottom: $gutter-2xs !important;
}

.m-tb-2xs {
    margin-top: $gutter-2xs !important;
    margin-bottom: $gutter-2xs !important;
}

.m-l-2xs {
    margin-left: $gutter-2xs !important;
}

.m-r-2xs {
    margin-right: $gutter-2xs !important;
}

.m-lr-2xs {
    margin-left: $gutter-2xs !important;
    margin-right: $gutter-2xs !important;
}

// Margin 3XS
.m-t-3xs {
    margin-top: $gutter-3xs !important;
}

.m-b-3xs {
    margin-bottom: $gutter-3xs !important;
}

.m-tb-3xs {
    margin-top: $gutter-3xs !important;
    margin-bottom: $gutter-3xs !important;
}

.m-l-3xs {
    margin-left: $gutter-3xs !important;
}

.m-r-3xs {
    margin-right: $gutter-3xs !important;
}

.m-lr-3xs {
    margin-left: $gutter-3xs !important;
    margin-right: $gutter-3xs !important;
}

// Margin 4XS
.m-t-4xs {
    margin-top: $gutter-4xs !important;
}

.m-b-4xs {
    margin-bottom: $gutter-4xs !important;
}

.m-tb-4xs {
    margin-top: $gutter-4xs !important;
    margin-bottom: $gutter-4xs !important;
}

.m-l-4xs {
    margin-left: $gutter-4xs !important;
}

.m-r-4xs {
    margin-right: $gutter-4xs !important;
}

.m-lr-4xs {
    margin-left: $gutter-4xs !important;
    margin-right: $gutter-4xs !important;
}

// Margin 5XS
.m-t-5xs {
    margin-top: $gutter-5xs !important;
}

.m-b-5xs {
    margin-bottom: $gutter-5xs !important;
}

.m-tb-5xs {
    margin-top: $gutter-5xs !important;
    margin-bottom: $gutter-5xs !important;
}

.m-l-5xs {
    margin-left: $gutter-5xs !important;
}

.m-r-5xs {
    margin-right: $gutter-5xs !important;
}

.m-lr-5xs {
    margin-left: $gutter-5xs !important;
    margin-right: $gutter-5xs !important;
}
/* === END UTILITY MARGINS === */

/* === UTILITY PADDINGS === */
// Padding 5XL
.p-t-5xl {
    padding-top: $gutter-5xl !important;
}

.p-b-5xl {
    padding-bottom: $gutter-5xl !important;
}

.p-tb-5xl {
    padding-top: $gutter-5xl !important;
    padding-bottom: $gutter-5xl !important;
}

.p-l-5xl {
    padding-left: $gutter-5xl !important;
}

.p-r-5xl {
    padding-right: $gutter-5xl !important;
}

.p-lr-5xl {
    padding-left: $gutter-5xl !important;
    padding-right: $gutter-5xl !important;
}

// Padding 4XL
.p-t-4xl {
    padding-top: $gutter-4xl !important;
}

.p-b-4xl {
    padding-bottom: $gutter-4xl !important;
}

.p-tb-4xl {
    padding-top: $gutter-4xl !important;
    padding-bottom: $gutter-4xl !important;
}

.p-l-4xl {
    padding-left: $gutter-4xl !important;
}

.p-r-4xl {
    padding-right: $gutter-4xl !important;
}

.p-lr-4xl {
    padding-left: $gutter-4xl !important;
    padding-right: $gutter-4xl !important;
}

// Padding 3XL
.p-t-3xl {
    padding-top: $gutter-3xl !important;
}

.p-b-3xl {
    padding-bottom: $gutter-3xl !important;
}

.p-tb-3xl {
    padding-top: $gutter-3xl !important;
    padding-bottom: $gutter-3xl !important;
}

.p-l-3xl {
    padding-left: $gutter-3xl !important;
}

.p-r-3xl {
    padding-right: $gutter-3xl !important;
}

.p-lr-3xl {
    padding-left: $gutter-3xl !important;
    padding-right: $gutter-3xl !important;
}

// Padding 2XL
.p-t-2xl {
    padding-top: $gutter-2xl !important;
}

.p-b-2xl {
    padding-bottom: $gutter-2xl !important;
}

.p-tb-2xl {
    padding-top: $gutter-2xl !important;
    padding-bottom: $gutter-2xl !important;
}

.p-l-2xl {
    padding-left: $gutter-2xl !important;
}

.p-r-2xl {
    padding-right: $gutter-2xl !important;
}

.p-lr-2xl {
    padding-left: $gutter-2xl !important;
    padding-right: $gutter-2xl !important;
}

// Padding XL
.p-t-xl {
    padding-top: $gutter-xl !important;
}

.p-b-xl {
    padding-bottom: $gutter-xl !important;
}

.p-tb-xl {
    padding-top: $gutter-xl !important;
    padding-bottom: $gutter-xl !important;
}

.p-l-xl {
    padding-left: $gutter-xl !important;
}

.p-r-xl {
    padding-right: $gutter-xl !important;
}

.p-lr-xl {
    padding-left: $gutter-xl !important;
    padding-right: $gutter-xl !important;
}

// Padding L
.p-t-l {
    padding-top: $gutter-l !important;
}

.p-b-l {
    padding-bottom: $gutter-l !important;
}

.p-tb-l {
    padding-top: $gutter-l !important;
    padding-bottom: $gutter-l !important;
}

.p-l-l {
    padding-left: $gutter-l !important;
}

.p-r-l {
    padding-right: $gutter-l !important;
}

.p-lr-l {
    padding-left: $gutter-l !important;
    padding-right: $gutter-l !important;
}

// Padding Normal
.p-t {
    padding-top: $gutter !important;
}

.p-b {
    padding-bottom: $gutter !important;
}

.p-tb {
    padding-top: $gutter !important;
    padding-bottom: $gutter !important;
}

.p-l {
    padding-left: $gutter !important;
}

.p-r {
    padding-right: $gutter !important;
}

.p-lr {
    padding-left: $gutter !important;
    padding-right: $gutter !important;
}

// Padding S
.p-t-s {
    padding-top: $gutter-s !important;
}

.p-b-s {
    padding-bottom: $gutter-s !important;
}

.p-tb-s {
    padding-top: $gutter-s !important;
    padding-bottom: $gutter-s !important;
}

.p-l-s {
    padding-left: $gutter-s !important;
}

.p-r-s {
    padding-right: $gutter-s !important;
}

.p-lr-s {
    padding-left: $gutter-s !important;
    padding-right: $gutter-s !important;
}

// Padding XS
.p-t-xs {
    padding-top: $gutter-xs !important;
}

.p-b-xs {
    padding-bottom: $gutter-xs !important;
}

.p-tb-xs {
    padding-top: $gutter-xs !important;
    padding-bottom: $gutter-xs !important;
}

.p-l-xs {
    padding-left: $gutter-xs !important;
}

.p-r-xs {
    padding-right: $gutter-xs !important;
}

.p-lr-xs {
    padding-left: $gutter-xs !important;
    padding-right: $gutter-xs !important;
}

// Padding 2XS
.p-t-2xs {
    padding-top: $gutter-2xs !important;
}

.p-b-2xs {
    padding-bottom: $gutter-2xs !important;
}

.p-tb-2xs {
    padding-top: $gutter-2xs !important;
    padding-bottom: $gutter-2xs !important;
}

.p-l-2xs {
    padding-left: $gutter-2xs !important;
}

.p-r-2xs {
    padding-right: $gutter-2xs !important;
}

.p-lr-2xs {
    padding-left: $gutter-2xs !important;
    padding-right: $gutter-2xs !important;
}

// Padding 3XS
.p-t-3xs {
    padding-top: $gutter-3xs !important;
}

.p-b-3xs {
    padding-bottom: $gutter-3xs !important;
}

.p-tb-3xs {
    padding-top: $gutter-3xs !important;
    padding-bottom: $gutter-3xs !important;
}

.p-l-3xs {
    padding-left: $gutter-3xs !important;
}

.p-r-3xs {
    padding-right: $gutter-3xs !important;
}

.p-lr-3xs {
    padding-left: $gutter-3xs !important;
    padding-right: $gutter-3xs !important;
}

// Padding 4XS
.p-t-4xs {
    padding-top: $gutter-4xs !important;
}

.p-b-4xs {
    padding-bottom: $gutter-4xs !important;
}

.p-tb-4xs {
    padding-top: $gutter-4xs !important;
    padding-bottom: $gutter-4xs !important;
}

.p-l-4xs {
    padding-left: $gutter-4xs !important;
}

.p-r-4xs {
    padding-right: $gutter-4xs !important;
}

.p-lr-4xs {
    padding-left: $gutter-4xs !important;
    padding-right: $gutter-4xs !important;
}

// Padding 5XS
.p-t-5xs {
    padding-top: $gutter-5xs !important;
}

.p-b-5xs {
    padding-bottom: $gutter-5xs !important;
}

.p-tb-5xs {
    padding-top: $gutter-5xs !important;
    padding-bottom: $gutter-5xs !important;
}

.p-l-5xs {
    padding-left: $gutter-5xs !important;
}

.p-r-5xs {
    padding-right: $gutter-5xs !important;
}

.p-lr-5xs {
    padding-left: $gutter-5xs !important;
    padding-right: $gutter-5xs !important;
}
/* === END UTILITY PADDINGS === */
