@mixin inline-list($color: #FFFFFF) {
    list-style-type: none;
    padding-left: 0;

    li {
        display: inline-block;

        a {
            color: $color;
            padding: 10px 15px;
            display: block;
        }
    }
}


@mixin vertical-list($color: $base-text-color, $padding: 0) {
    list-style-type: none;
    padding-left: $padding;

    li {
        color: $color;

        a {
            display: block;
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

@mixin horizontal-list($color: $base-text-color, $padding: 0) {
    list-style-type: none;
    padding-left: $padding;

    li {
        color: $color;
        display: inline-block;

        a {
            display: block;
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

@mixin placeholder-style($color: #333, $size: 20px) {
    ::-webkit-input-placeholder {
        color: $color;
        font-size: $size;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: $color;
        font-size: $size;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: $color;
        font-size: $size;
    }

    :-ms-input-placeholder {
        color: $color;
        font-size: $size;
    }
}

@mixin cubic-transition($property: all, $time: .5s, $p1x: .75, $p1y: 0, $p2x: .25, $p2y: 1) {
    -webkit-transition: $property $time cubic-bezier($p1x, $p1y, $p2x, $p2y);
    -moz-transition: $property $time cubic-bezier($p1x, $p1y, $p2x, $p2y);
    -o-transition: $property $time cubic-bezier($p1x, $p1y, $p2x, $p2y);
    transition: $property $time cubic-bezier($p1x, $p1y, $p2x, $p2y);
}

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased !important;
        -moz-osx-font-smoothing: auto !important;
    }
}

@mixin ios-toggle($featured-color: #53d76a, $white: #fff, $grey: #d3d3d3) {
    input[type=checkbox] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: darken($white, 2%);
        border: 1px solid $grey;
        border-radius: 24px;
        //box-shadow: inset 0 0 0 1px $grey;
        cursor: pointer;
        height: 24px;
        position: relative;
        transition: border .25s .15s,
        box-shadow .25s .3s,
        padding .25s;
        width: 55px;
        vertical-align: top;

        &:after {
            content: '';
            background-color: $white;
            border: 1px solid $grey;
            border-radius: 22px;
            /*box-shadow: inset 0 -3px 3px hsla(0,0%,0%,.025),
                        0 1px 4px hsla(0,0%,0%,.15),
                        0 4px 4px hsla(0,0%,0%,.1);*/
            display: block;
            height: 22px;
            width: 22px;
            left: 0;
            position: absolute;
            right: 16px;
            top: 0;
            transition: border .25s .15s,
            left .25s .1s,
            right .15s .175s;
        }

        &:checked {
            border-color: $featured-color;
            box-shadow: inset 0 0 0 13px $featured-color;
            padding-left: 18px;
            transition: border .25s,
            box-shadow .25s,
            padding .25s .15s;

            &:after {
                border-color: $featured-color;
                left: 31px;
                right: 0;
                transition: border .25s,
                left .15s .25s,
                right .25s .175s;
            }
        }

        &:focus,
        &:active {
            outline: none !important;
        }
    }
}

@mixin ellipsis ($font-size: 26px, $line-height: 1.4, $lines-to-show: 3) {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin title($color: $primary-color, $size: 36px) {
    font-size: $size;
    color: $color;
    text-align: center;
    font-weight: 400 !important;
    margin-bottom: $gutter-l;
}

@mixin linear-gradient($from-color, $to-color, $url: false) {
    background-color: mix($from-color, $to-color); /* Fallback */
    @if $url {
        background-image: url(unquote($url)), -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
        background-image: url(unquote($url)), -webkit-linear-gradient(top, $from-color, $to-color);
        background-image:    url(unquote($url)), -moz-linear-gradient(top, $from-color, $to-color);
        background-image:     url(unquote($url)), -ms-linear-gradient(top, $from-color, $to-color);
        background-image:      url(unquote($url)), -o-linear-gradient(top, $from-color, $to-color);
    } @else {
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
        background-image: -webkit-linear-gradient(top, $from-color, $to-color);
        background-image:    -moz-linear-gradient(top, $from-color, $to-color);
        background-image:     -ms-linear-gradient(top, $from-color, $to-color);
        background-image:      -o-linear-gradient(top, $from-color, $to-color);
    }
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{quote($from-color)}', EndColorStr='#{quote($to-color)}')";
}

@mixin centered-span() {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 100%;
}

@mixin absolute-centered() {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
}

// ----
// Sass (v3.4.7)
// Compass (v1.0.1)
// ----

/// Convert angle
/// @author Chris Eppstein
/// @param {Number} $value - Value to convert
/// @param {String} $unit - Unit to convert to
/// @return {Number} Converted angle
@function convert-angle($value, $unit) {
    $convertable-units: deg grad turn rad;
    $conversion-factors: 1 (10grad/9deg) (1turn/360deg) (3.1415926rad/180deg);
    @if index($convertable-units, unit($value)) and index($convertable-units, $unit) {
        @return $value
             / nth($conversion-factors, index($convertable-units, unit($value)))
             * nth($conversion-factors, index($convertable-units, $unit));
    }

    @warn "Cannot convert `#{unit($value)}` to `#{$unit}`.";
}

/// Test if `$value` is an angle
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value) {
    $is-direction: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
    $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

    @return $is-direction or $is-angle;
}

/// Convert a direction to legacy syntax
/// @param {Keyword | Angle} $value - Value to convert
/// @require {function} is-direction
/// @require {function} convert-angle
@function legacy-direction($value) {
    @if is-direction($value) == false {
        @warn "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be an angle or a direction";
    }

    $conversion-map: (
            to top          : bottom,
            to top right    : bottom left,
            to right top    : left bottom,
            to right        : left,
            to bottom right : top left,
            to right bottom : left top,
            to bottom       : top,
            to bottom left  : top right,
            to left bottom  : right top,
            to left         : right,
            to left top     : right bottom,
            to top left     : bottom right
    );

    @if map-has-key($conversion-map, $value) {
        @return map-get($conversion-map, $value);
    }

    @return 90deg - convert-angle($value, 'deg');
}

/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {String | List | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient-advanced($direction, $color-stops...) {
    @if is-direction($direction) == false {
        $color-stops: ($direction, $color-stops);
        $direction: 180deg;
    }

    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

// Tests
/*
.test-1 {
    @include linear-gradient-advanced(#31B7D7, #EDAC7D);
}

.test-2 {
    @include linear-gradient-advanced(to right, #E47D7D 0%, #C195D3 50%, #4FB4E8 100%);
}

.test-3 {
    @include linear-gradient-advanced(42deg, #B58234 0%, #D2B545 50%, #D7C04D 50.01%, #FFFFFF 100%);
}*/
