/* === BOOTSTRAP === */
$brand-primary: $primary-color;
$font-family-sans-serif: $main-font;
$link-color: $base-text-color !default;
$link-hover-color: $darker-color;
$text-color: $base-text-color;
$body-bg: $light-color;
/* === END BOOTSTRAP === */