@import 'https://fonts.googleapis.com/css?family=Gravitas+One';

body {
    font-family: $main-font !important;
    color: $base-text-color;

    & * {
        @include font-smoothing();
        font-size: 16px;
    }
}