/* === COLORS === */
// Corporative identity
$primary-color: #50E3C2;
$secondary-color: #FF354E;
$tertiary-color: #F5CF23;

$good-color: $primary-color;
$bad-color: $secondary-color;

// Achromatic axis
$lighter-color: #FFFFFF;
$light-color: #F4F4F4;
$medium-light-color: #E1E1E1;
$medium-color: #9B9B9B;
$medium-dark-color: #474747;
$dark-color: #000000;
$darker-color: $dark-color;
/* === END COLORS === */

/* === TYPOGRAPHY === */
$score-font: 'Gravitas One', cursive;
$main-font: "Helvetica", sans-serif;
$base-text-color: $darker-color;
/* === END TYPOGRAPHY === */

/* === DIMENSIONS === */
$gutter-value: 30;
$gutter: $gutter-value * 1px;
$gutter-5xl: $gutter * 10;
$gutter-4xl: $gutter * 6;
$gutter-3xl: $gutter * 5;
$gutter-2xl: $gutter * 4;
$gutter-xl: $gutter * 3;
$gutter-l: $gutter * 2;
$gutter-s: $gutter / 2;
$gutter-xs: $gutter / 3;
$gutter-2xs: $gutter / 4;
$gutter-3xs: $gutter / 5;
$gutter-4xs: $gutter / 6;
$gutter-5xs: $gutter / 10;
/* === END DIMENSIONS === */
