/* CLASE BASE PARA DIV PROPIO : HIJO DEL DIV INDICADO */
.fadlib.stage {
    width: 100%;
    height: 100%;
    background: lightgray;
    position: relative;
    display: flex;
    overflow: hidden;
    
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
}





/* CLASES DE ESTILO GENERAL : PARA LAYOUT */

/* RESALTAR PARA DEBUG */
.fadlib.debug {
    border: 1px solid red;
}
.fadlib.debug2 {
    border: 1px solid yellow;
}


/* size */
.fadlib.full {
    width: 100%;
    height: 100%;
}
.fadlib.vfull {
    height: 100%;
}
.fadlib.hfull {
    width: 100%;
}

/* coordinate system */
.fadlib.flex {
    display: flex;
}
.fadlib {
    flex: 1;
}

.fadlib.canvas {    /* div para alojar capas dentro */
    position: relative;
}
.fadlib.capa {
    position: absolute;
}



/* layout */
.fadlib.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fadlib.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* alingment (flex) */
.fadlib.top, .fadlib.left {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
}
.fadlib.bottom, .fadlib.right {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}
.fadlib.vcenter {
    align-items: center;
}
.fadlib.hcenter {
    justify-content: center;
}
.fadlib.center {
    display: flex;
    align-self: center;
    justify-content: center;
}
.fadlib.stretch {
    display: flex;
    align-self: stretch;
}


/* alignment (capa) */
.fadlib.capa.center {
    transform: translate(-50%, -50%);
}
.fadlib.capa.hcenter {
    transform: translateX(-50%);
}
.fadlib.capa.left {
}
.fadlib.capa.right {
    transform: translateX(-100%);
}
.fadlib.capa.vcenter {
    transform: translateY(-50%);
}
.fadlib.capa.top {
}
.fadlib.capa.bottom {
    transform: translateY(-100%);
}

.fadlib .disabled {
    pointer-events: none;
    opacity: 0.8;
    background-color: rgba(128,128,128,1) !important;
}



/* ZONAS GENERALES */
.fadlib#fondo {
    background: #ebffd8;
}
.fadlib#cabecera {
    flex: 1;
    margin-bottom: 50px;
    height: 50%;
}
.fadlib#controles {
    flex: 1;
}
.fadlib#marcadores {
    flex: 1;
    font-size: 21pt;
}
.fadlib#juego {
    flex: 1;
    margin: 10% 0px;
}
.fadlib#lanzadores {
    flex: 1;
}



/* ELEMENTOS GENERALES */
img.fadlib.start {
    height: 100px;
    content: url(../media/boton_start.png);
}
img.fadlib.stop {
    height: 100px;
    content: url(../media/boton_stop.png);
}

.fadlib.pentagrama {
    width: 100%;
    height: 100%;
    content: url(../media/pentagrama.png);
}

.fadlib.clave {
    height: 120%;
    top: 50%;
    content: url(../media/clave.png);
}

.fadlib.cabezalectora {
    left: 50%;
    height: 100%;
    content: url(../media/cabezalectora.png);
}

.fadlib.cabezamedio {
    top: -25%;
    height: 150%;
    width: 20px;
    -webkit-filter: drop-shadow(0px 0px 15px orange);
    content: url(../media/cabezalectora.png);
}
.fadlib.cabezaminimo {
    top: -25%;
    height: 150%;
    width: 20px;
    -webkit-filter: drop-shadow(0px 0px 15px yellow);
    content: url(../media/cabezalectora.png);
}
.fadlib#metronomo {
    flex: 0;
    height: 50px;
    width: auto;
    content: url(../media/boton_stop.png);
}

.fadlib#metronomo.beat {
    border: 3px solid red;
}

.fadlib.compas {
    height: 100%;
    width: 2%;
    transform: translate(-125%, 0%);
    content: url(../media/cabezalectora.png);
}
.fadlib.compasText {
    font-size: 18pt;
    top: 50%;
    left: 75px;
}

img.fadlib.lanzador {
    height: 100px;
    width: 30px;
    content:  url(../media/boton_stop.png);
}

.fadlib.lanzador.tecla {
    border: 5px solid green;
}








/* NOTAS */
.fadlib.nota {
    height: 100%;
}
.fadlib.nota.resaltar {
    height: 250%;
    opacity: 0;
    -webkit-filter: drop-shadow(0px 0px 15px yellow);
    transition-property: height, opacity;
    transition-duration: 0.5s;
}
.fadlib.nota.fallada {
    height: 250%;
    opacity: 0;
    -webkit-filter: drop-shadow(0px 0px 15px red);
    transition-property: height, opacity;
    transition-duration: 0.5s;
}

/* tipos de nota - por duracion */
.fadlib.nota img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -50%) scale(1);
    content: url(../media/nota_default.png);
}

.fadlib.nota.redonda img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -85%) scale(1);
    content: url(../media/nota_redonda.png);
}
.fadlib.nota.blanca img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -85%) scale(1);
    content: url(../media/nota_blanca.png);
}
.fadlib.nota.negra img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -85%) scale(1);
    content: url(../media/nota_negra.png);
}
.fadlib.nota.corchea img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -85%) scale(1);
    content: url(../media/nota_corchea.png);
}
.fadlib.nota.semicorchea img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -85%) scale(1);
    content: url(../media/nota_semicorchea.png);
}
.fadlib.nota.fusa img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -85%) scale(1);
    content: url(../media/nota_fusa.png);
}
.fadlib.nota.semifusa img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -85%) scale(1);
    content: url(../media/nota_semifusa.png);
}


/* modificaciones de nota - por duracion puntillo - por sostenido/bemol */
.fadlib.nota img.puntillo {
    position: absolute;
    transform: translate(0%, -80%) scale(0.5);
    content: url(../media/nota_puntillo.png);
}
.fadlib.nota img.bemol {
    position: absolute;
    transform: translate(0%, -80%) scale(0.5);
    content: url(../media/nota_bemol.png);
}
.fadlib.nota img.sostenido {
    position: absolute;
    transform: translate(0%, -80%) scale(0.5);
    content: url(../media/nota_sostenido.png);
}


/* NOTAS */
.fadlib.silencio {
    height: 100%;
}
/* tipos de silencio - por duracion */
.fadlib.silencio img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -50%) scale(1);
    content: url(../media/nota_default.png);
    background: blue;
}
.fadlib.silencio.redonda img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -85%) scale(1);
    content: url(../media/nota_redonda.png);
}
.fadlib.silencio.blanca img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -85%) scale(1);
    content: url(../media/nota_blanca.png);
}
.fadlib.silencio.negra img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -85%) scale(1);
    content: url(../media/nota_negra.png);
}
.fadlib.silencio.corchea img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -85%) scale(1);
    content: url(../media/nota_corchea.png);
}
.fadlib.silencio.semicorchea img {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -85%) scale(1);
    content: url(../media/nota_semicorchea.png);
}



/* TEST */
.fadlib#cabecera #titulo {
    font-size: 24pt;
    text-align: center;
    flex: 2;
}

.fadlib#cabecera #tiempo {
    text-align: center;
    width: 20%;
    margin: auto;
    border: 1px solid black;
    background-color: lightgray;
}

.fadlib#cabecera #marcadores {
    font-size: 14pt;
    text-align: right;
}

.fadlib.test {
    border: 3px solid black;
    margin: 10px;
    display: flex;
    flex-grow: 8;
    flex-wrap: wrap;
    overflow-y: auto;
}

.fadlib.test #imagen {
    max-width: 70%;
}

.fadlib.test .pregunta {
    text-align: center;
    margin: 2px;
    min-width: 24%;
    max-width: 24%;
    background-color: lightgrey;
    border: 1px solid black;
}
.fadlib.test .pregunta.correcta {
    background-color: rgba(128,255,128,1) !important;
}
.fadlib.test .pregunta.incorrecta {
    background-color: rgba(255,128,128,1) !important;
}

.fadlib.test .cabecera .titulo {
    font-size: 16pt;
}
.fadlib.test .cabecera .texto {
    font-size: 8pt;
}

.fadlib.test .respuesta {
    margin: 5px 0px;
    display: flex;
}
.fadlib.test .respuesta.correcta {
    background-color: green;
}
.fadlib.test .respuesta.incorrecta {
    background-color: red;
}

.fadlib.test #midi {
    max-height: 30px;
    max-width: 30px;
    content: url(../media/boton_start.png);
}
.fadlib.test #midi.playing {
    max-height: 30px;
    max-width: 30px;
    content: url(../media/boton_stop.png);
}
