.block {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}

.caption {
    display: inline-block;
    width: 8em;
    text-align: right;
}

.field {
    max-width: 10em;
}

.tip {
    display: inline;
    border-radius: 15px;
    background-color: lightgray;
    padding-left: 5px;
    padding-right: 5px;
}

.tip span {
    padding-left: 15px;
    display: none;
}

.tip:hover span {
    display: inherit;
}


.list {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 8em;
}

li {
    list-style-type: none;
}

#browser {
    position: fixed;
    color: white;
    text-align: right;
    top: 0%;
    right: 0%;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    border: 2px solid black;
    max-width: 50%;
}

#browser iframe {
    width: 400px;
    height: 300px;
    border: 1px solid black;
}